@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6948ff;
  --secondary: #553bcb;
  --darkgrey: #22262a;
  --lightgrey: #d3d3d3;
  --grey: #808080;
  --white: #f8f8f8;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  color: #333;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: var(--primary);
}

.logo{
  width: 120px;
}