.hero {
    width: 100%;
    height: 100vh;
    background: var(--darkgrey);
}

.container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col-1 {
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.col-1 h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}

.col-1 p{
    color: var(--white);
}

.icons{
    color: var(--white);
}

.form-layout{
    width: 400px;
    margin: auto;
    background-color: var(--white);
}

.form-container {
    padding: 1.5rem 2rem;
}

.form-footer{
    padding: 1.5rem 2rem;
}

.sign-in-txt {
    margin-bottom: 10px;
    padding: 1rem;
}

.social-login span {
    background: var(--white);
    padding: 16px 45px 6px 45px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}

.col-2 .divider p {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid var(--lightgrey);
}

.col-2 .divider p span {
    background-color: var(--white);
    padding: 0 10px;
}

form input {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    border: 1px solid var(--lightgrey);
    padding: .5rem;
}

form button {
    padding: .5rem;
    border: 1px solid var(--lightgrey);
}

.form-footer p{
    border-top: 1px solid var(--lightgrey);
    background: var(--white);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1.5rem 2rem;
}

.form-footer span {
    font-weight: 500;
}

button {
    width: 100%;
    padding: 8px 0;
    border-radius: 4px;
    background: var(--primary);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}